html[data-theme="demand"] {
	/* Border */
	--border: var(--color-steel-200);
	--border-interactive: var(--color-aquamarine-300);

	/* Text */
	--text-primary-active: var(--color-aquamarine-700);
	--text-primary: var(--color-steel-700);
	--background-success: var(--color-aquamarine-200);
	--text-icon-success: var(--color-aquamarine-600);
	--text-success-on-color: var(--color-aquamarine-700);
	--text-secondary: var(--color-aquamarine-600);
	--text-icon-secondary-active: var(--color-aquamarine-400);
	--text-icon-secondary-hover: var(--color-aquamarine-500);
	--text-icon-secondary: var(--color-aquamarine-600);

	/* Component Tokens */

	/** Button **/
	--button-secondary: var(--color-aquamarine-100);
	--button-secondary-hover: var(--color-aquamarine-200);
	--button-secondary-active: var(--color-aquamarine-300);
	--button-primary: var(--color-aquamarine-600);
--button-primary-hover: var(--color-aquamarine-500);
--button-primary-active: var(--color-aquamarine-700);

--text-on-primary: var(--color-white-900);
--text-on-button-primary: var(--text-on-primary);
	--text-button-color: var(--color-aquamarine-600);
	--text-button-hover-color: var(--color-aquamarine-500);
	--text-button-active-color: var(--color-aquamarine-400);

	/** Tab **/
	--tab-selected-background: var(--color-aquamarine-100);
	--tab-text: var(--color-steel-700);
	--tab-text-selected: var(--color-aquamarine-800);

	/** Checkbox **/
	--checkbox-border: var(--color-steel-700);
	--checkbox-border-hover: var(--color-aquamarine-500);

	--checkbox-selected-border: var(--color-aquamarine-600);

	--checkbox-selected-background: var(--color-aquamarine-600);
	--checkbox-selected-background-hover: var(--color-aquamarine-400);

	/** Radio **/
	--radio-button-border: var(--color-steel-700);
	--radio-button-border-hover: var(--color-aquamarine-600);

	--radio-button-selected-border: var(--color-aquamarine-600);
	--radio-button-selected-border-hover: var(--color-aquamarine-500);

	/** Pagination **/
	--pagination-color: var(--color-steel-900);
	--pagination-page-button-background-hover: var(--color-steel-10);
	--pagination-page-button-background-active: var(--color-steel-40);

	/** Table **/
	--table-actionable-row-hover: var(--color-aquamarine-100);
	--table-header-border-bottom: var(--color-steel-700);
	--table-cell-border-bottom: var(--color-steel-200);

	/** Button Group **/
	--button-group-border: var(--color-steel-400);
	--button-group-color: var(--color-steel-600);
	--button-group-icon-color: var(--color-steel-500);
	--button-group-hover-color: var(--color-steel-800);
	--button-group-hover-icon-color: var(--color-steel-700);
	--button-group-selected-icon-color: var(--color-aquamarine-700);
	--button-group-selected-background: var(--color-aquamarine-100);
	--button-group-selected-color: var(--color-aquamarine-800);

	/** Select WIP **/
	--select-button-border: var(--color-steel-300);
	--select-button-color: var(--color-steel-700);
	--select-popover-color: var(--color-steel-700);
	--select-listbox-item-focused-background: var(--color-aquamarine-100);
	--select-listbox-item-pressed-background: var(--color-aquamarine-200);
	--select-listbox-item-selected-background: var(--color-aquamarine-200);

	/** Link **/
	--link-color: var(--color-aquamarine-700);
	--link-visited-color: var(--color-aquamarine-900);
	--link-icon-color: var(--color-aquamarine-600);
	--link-visited-icon-color: var(--color-aquamarine-800);

	/** Text Input **/
	--input-placeholder-text: var(--color-steel-400);
	--input-field-text: var(--color-steel-800);
	--input-stroke: var(--color-steel-300);
	--input-stroke-hover: var(--color-aquamarine-600);
	--input-stroke-focus: var(--color-steel-800);
	--input-icon: var(--color-steel-300);
	--input-icon-focus: var(--color-steel-700);
	--input-element: var(--color-steel-600);
}
