html[data-theme="tweetbinder"] {
	/* These tokens are not official, since they are not in Zeroheight */

	/* Border */
	--border: var(--color-steel-200);
	--border-interactive: var(--color-ocean-300);

	/* Text */
	--text-primary-active: var(--color-ocean-700);
	--text-primary: var(--color-steel-700);
	--background-success: var(--color-ocean-200);
	--text-icon-success: var(--color-ocean-600);
	--text-success-on-color: var(--color-ocean-700);
	--text-secondary: var(--color-ocean-600);
	--text-icon-secondary-active: var(--color-ocean-400);
	--text-icon-secondary-hover: var(--color-ocean-500);
	--text-icon-secondary: var(--color-ocean-600);

	/* Component Tokens */

	/** Button **/
	--button-secondary: var(--color-ocean-100);
	--button-secondary-hover: var(--color-ocean-200);
	--button-secondary-active: var(--color-ocean-300);
	--button-primary: var(--color-aquamarine-600);
--button-primary-hover: var(--color-aquamarine-500);
--button-primary-active: var(--color-aquamarine-700);

--text-on-primary: var(--color-white-900);
--text-on-button-primary: var(--text-on-primary);
	--text-button-color: var(--color-ocean-600);
	--text-button-hover-color: var(--color-ocean-500);
	--text-button-active-color: var(--color-ocean-400);

	/** Tab **/
	--tab-selected-background: var(--color-ocean-100);

	/** Checkbox **/
	--checkbox-border: var(--color-steel-700);
	--checkbox-border-hover: var(--color-ocean-500);

	--checkbox-selected-border: var(--color-ocean-600);

	--checkbox-selected-background: var(--color-ocean-600);
	--checkbox-selected-background-hover: var(--color-ocean-400);

	/** Radio **/
	--radio-button-border: var(--color-steel-700);
	--radio-button-border-hover: var(--color-ocean-600);

	--radio-button-selected-border: var(--color-ocean-600);
	--radio-button-selected-border-hover: var(--color-ocean-500);

	/** Pagination **/
	--pagination-color: var(--color-steel-900);
	--pagination-page-button-background-hover: var(--color-steel-10);
	--pagination-page-button-background-active: var(--color-steel-40);

	/** Table **/
	--table-actionable-row-hover: var(--color-ocean-100);
	--table-header-border-bottom: var(--color-steel-700);
	--table-cell-border-bottom: var(--color-steel-200);

	/** Text Input **/
	--input-placeholder-text: var(--color-steel-400);
	--input-field-text: var(--color-steel-800);
	--input-stroke: var(--color-steel-300);
	--input-stroke-hover: var(--color-ocean-600);
	--input-stroke-focus: var(--color-steel-800);
	--input-icon: var(--color-steel-300);
	--input-icon-focus: var(--color-steel-700);
	--input-element: var(--color-steel-600);
}
